<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBR17KEVRhcYGqTlNp8U9WPYAgfdgwugF4</string>
	<key>GCM_SENDER_ID</key>
	<string>618243697542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petFit</string>
	<key>PROJECT_ID</key>
	<string>pet-fit-884a6</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-fit-884a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618243697542:ios:bb57ec3e6c368f4b7a5a07</string>
</dict>
</plist>